#chatForm {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
  border: 2px solid black;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
#status {
  min-height: 16px;
}
#messages,
#status {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message > span {
  display: inline-block;
}

.txt_right {
  text-align: right;
}

.txt_left {
  text-align: left;
}

.text {
  padding: 10px;
  border-radius: 24px;
  margin-bottom: 2px;
  margin-right: 2px;
  border: 2px solid rgb(216, 216, 216);
}

.username {
  font-size: 10px;
  margin-top: 10px;
}
